.h5 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.mt-4 {
  text-align: center;
}

@media print {
  body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #000;
  }

  .btn, .no-print {
    display: none !important;
  }

  .container {
    margin: 40px;
  }

  h1, h2, h3 {
    color: #000;
  }

  hr {
    border: 1px solid #000;
  }
}
